* {
    primary: #ffb2bd;
    secondary: #e5bdc1;
    tertiary: #eabf90;
    primary-container: #72333f;
    secondary-container: #5c3f43;
    tertiary-container: #5f411c;
    on-surface: #f0dee0;
    surface: #191112;
    surface-container: #261d1e;
    surface-container-high: #312829;
    surface-container-highest: #3c3233;
    outline: #9f8c8e;
}
