* {
    primary: #b8c3ff;
    secondary: #c3c5dd;
    tertiary: #e4bad9;
    primary-container: #374379;
    secondary-container: #424659;
    tertiary-container: #5c3d56;
    on-surface: #e3e1e9;
    surface: #121318;
    surface-container: #1f1f25;
    surface-container-high: #292a2f;
    surface-container-highest: #34343a;
    outline: #90909a;
}
